<!DOCTYPE html>
<html>
    <head>
        <title>Image Annotation Application</title>
        <meta name="viewport"
              content="width=device-width">

        <!-- Javascript imports -->
        <script src="../web_resources/jquery-3.1.1.min.js" 
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous">
        </script>
        <script src="../web_resources/slippry.min.js">
        </script>
        <script src="../web_resources/cabin.js">
        </script>
        <script type="text/javascript"
                src="../web_resources/annotorious.min.js">
        </script>

        <!-- CSS imports -->
        <link rel="stylesheet"
              href="../web_resources/slippry.css">
        <link rel="stylesheet"
              href="../web_resources/styles.css">
        <link type="text/css"
              rel="stylesheet"
              href="../web_resources/annotorious.css" />
    </head>
    <body class="examples examples_thumbnails examples_thumbnails_index">
        <section class="restricted-width default"> 
            <h2 class="slider-title">Project: Test_Project</h2>
            <p>
                <input id="checkBox" type="checkbox"> Show annotations from all users
            </p>
            <ul id="thumbnails">
                {% for filename in filename_list %}
                    <li>
                        <img src="img/{{filename}}" class="annotatable" width="100%" id="img{{loop.index}}">
                    </li>
                {% endfor %}
            </ul>
            <div class="thumb-box">
                <ul class="thumbs">
                    {% for filename in filename_list %}
                        <li>
                            <a href="#{{loop.index}}" data-slide="{{loop.index}}">
                                <img src="img/{{filename}}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <script>
            anno.addHandler('onAnnotationCreated', function(annotation) {
                var filename = annotation.src.split(/[/]+/).pop();
                var x = annotation.shapes[0].geometry.x;
                var y = annotation.shapes[0].geometry.y;
                var width = annotation.shapes[0].geometry.width;
                var height = annotation.shapes[0].geometry.height;
                var text = annotation.text;
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "http://127.0.0.1:5000/api/annotation", true);
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.send(JSON.stringify({filename:filename,
                                           x:x,
                                           y:y,
                                           width:width,
                                           height:height,
                                           text:text}));

                console.log(xhttp.response);
                // error--popup modal
            });

            anno.addHandler('beforeAnnotationRemoved', function(annotation) {
                var filename = annotation.src.split(/[/]+/).pop();
                var x = annotation.shapes[0].geometry.x;
                var y = annotation.shapes[0].geometry.y;
                var width = annotation.shapes[0].geometry.width;
                var height = annotation.shapes[0].geometry.height;
                var text = annotation.text;

                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "http://127.0.0.1:5000/api/delete_annotation", true);
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.send(
                    JSON.stringify({filename:filename,
                                    x:x,
                                    y:y,
                                    width:width,
                                    height:height,
                                    text:text})
                );

                console.log(xhttp.response);
                // error--popup modal
            });

            anno.addHandler('onAnnotationUpdated', function(annotation) {
                var filename = annotation.src.split(/[/]+/).pop();
                var x = annotation.shapes[0].geometry.x;
                var y = annotation.shapes[0].geometry.y;
                var width = annotation.shapes[0].geometry.width;
                var height = annotation.shapes[0].geometry.height;
                var text = annotation.text;

                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "http://127.0.0.1:5000/api/annotation", true);
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.send(JSON.stringify({filename:filename,
                                           x:x,
                                           y:y,
                                           width:width,
                                           height:height,
                                           text:text}));

                console.log(xhttp.response);
                // error--popup modal
            });

            var thumbs = jQuery('#thumbnails').slippry({
                slippryWrapper: '<div class="slippry_box thumbnails" align="center" />',
                transition: 'horizontal',
                pager: true,
                auto: false,
                onSlideBefore: function (el, index_old, index_new) {
                  jQuery('.thumbs a img').removeClass('active');
                  jQuery('img', jQuery('.thumbs a')[index_new]).addClass('active');
                }
            });

            jQuery('.thumbs a').click(function () {
                thumbs.goToSlide($(this).data('slide'));
                return false;
            });

            window.onload = function() {
                // Load all images in this project in order and their annotations
                {% for filename in filename_list %}
                    anno.makeAnnotatable(document.getElementById('img{{loop.index}}'));
                    // var myAnnotation = {
                    //     src : 'img/image-1.jpg',
                    //     text : 'My annotation',
                    //     shapes : [{
                    //         type : 'rect',
                    //         geometry : { x : 0.1, y: 0.1, width : 0.4, height: 0.3 }
                    //     }]
                    // }
                    // anno.addAnnotation(myAnnotation)
                {% endfor %}
            }
        </script>
    </body>
</html>
